<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About the Site</h1>
            <h3>What is Cineholic?</h3>
            <hr>
            <p>
              <strong class="text-danger">Cineholic</strong> is a movie reviewing website. Users can create their own movies or review others' movies. To get started, simply
              <a href="/register">sign up</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>